{# Variables available to custumn listings #}
{% set listing = {
    compact:     compact|default(false),
    content:     content,
    permissions: permissions|default({
                    create:    permissions.create|default(false),
                    edit:      permissions.edit|default(false),
                    delete:    permissions.delete|default(false),
                    publish:   permissions.publish|default(false),
                    depublish: permissions.depublish|default(false),
                 }),
}%}

{% set modifiable = listing.permissions.create or
                    listing.permissions.edit or
                    listing.permissions.delete or
                    listing.permissions.publish or
                    listing.permissions.depublish %}

{% set prop = {
    has_groupname:  listing.content.group.name is defined,
    nextgroup:      new_group|default(false),
    unordered:      request('order') == '',
    first:          loop.first,
    last:           loop.last|default(loop.first)
}%}

{% set local = {
    row_heading:    not listing.compact and prop.unordered and prop.has_groupname and (prop.first or prop.nextgroup),
    row_header:     not listing.compact and (prop.first or (prop.has_groupname and prop.nextgroup) and prop.unordered),

} %}
{% set local_columns = not listing.compact and modifiable ? ['[X]'] : [] %}

{# Build columns #}
{% for colum in block('listing_definition')|default('Id,Content,Thumbnail,(Meta),Actions')|lower|split(',') %}
    {% set colname = colum|trim('()') %}
    {% if not listing.compact or colum == colname %}
        {% set local_columns = local_columns|merge([colname]) %}
    {% endif %}
{% endfor %}

{#
 # Macros
 #}

{% macro tbody_beg(local, modifiable) %}
    {% set class = [
        modifiable ? 'sortable' : '',
        local.row_heading and local.row_header ? 'striping_even' : 'striping_odd',
    ] %}

    <tbody{{ hclass(class)}}>
{% endmacro %}

{% macro tbody_end(toolbar) %}
    {% if toolbar %}
        <tr class="selectiontoolbar hidden">
            <td colspan="{{ block('listing_columns') }}">
                <i class="fa fa-fw fa-rotate-270 fa-mail-forward"></i><div class="count">0</div>
                {{ toolbar }}
            </td>
        </tr>
    {% endif %}
    </tbody>
{% endmacro %}

{#
 # GROUPNAME: If we have 'grouping', print the row with the groupname.
 #}
{% from _self import tbody_beg, tbody_end %}

{% if local.row_heading or internal.heading|default() %}

    {% if not prop.first %}
        {{ tbody_end(internal.selection_toolbar|default()) }}
    {% endif %}

    {{ tbody_beg(local, modifiable) }}

    <tr class="heading">
        <th colspan="{{ local_columns|length }}">
            {% if internal.heading|default() %}
                {{ internal.heading }}
            {% else %}
                {{ listing.content.group.name|default(__('(no group)')) }}
            {% endif %}
        </th>
    </tr>
{% elseif prop.first %}
    {{ tbody_beg(local, modifiable) }}
{% endif %}

{#
 # HEADER ROW: Print the header for the first row.
 #}
{% if local.row_header %}
    {# Deprecated #}
    {% set params = {} %}
    {% for key, val in app.request.query.all if key != 'order' %}
        {% set params = params|merge({(key): val}) %}
    {% endfor %}
    {% set link = '?' ~ params|url_encode ~ (params|length ? '&' : '') ~ 'order=' %}
    {# /Deprecated #}

    <tr class="header">
        {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

        {# Output header columns #}
        {% for colname in local_columns %}
            {% set block_hcol = block('listing_hcol_' ~ colname)|default(false) %}

            {% if block_hcol is not same as(false) %}
                {{ block_hcol|raw }}

            {% elseif colname == '[X]' %}
                <th class="menu hidden-xs">
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="select-all"><a href="#">{{ __('Select all') }}</a></li>
                            <li class="hidden select-none"><a href="#">{{ __('Select none') }}</a></li>
                            <li class="hidden divider" role="separator"></li>
                            <li class="hidden dropdown-header">{{ __('Selection (#):') }}</li>
                            <li class="hidden"><a href="#">• {{ __('Delete') }}</a></li>
                            <li class="hidden disabled"><a href="#">• {{ __('Publish') }}</a></li>
                            <li class="hidden disabled"><a href="#">• {{ __('Depublish') }}</a></li>
                        </ul>
                    </div>
                </th>

            {% elseif colname == 'id' %}
                <th class="hidden-xs">{{ buic_listing_slink('id', __('Id'))}}</th>

            {% elseif colname == 'content' %}
                <th style="width:80%">{{ buic_listing_slink(listing.content.TitleColumnName()|first, __('Title') ~ ' / ' ~ __('Excerpt')) }}</th>

            {% elseif colname == 'thumbnail' %}
                <th class="listthumb"></th>

            {% elseif colname == 'meta' %}
                <th class="username hidden-xs">{{ buic_listing_slink('datecreated', __('Meta'))}}</th>

            {% elseif colname == 'actions' %}
                <th class="hidden-xs">{{ __('Actions') }}</th>

            {% else %}
                <th><del>{{colname }}</del></th>
            {% endif %}
        {% endfor %}
    </tr>
{% endif %}

{#
 # DATA ROW
 #}
{% import '@bolt/_macro/_macro.twig' as macro %}
{% from '@bolt/_buic/_moment.twig' import buic_moment %}

<tr {% if listing.content.status != 'published' %}class="dim"{% endif %}{% if not listing.compact and modifiable %} id="item_{{ listing.content.id }}"{% endif %}>
    {% for colname in local_columns %}
        {% set block_hcol = block('listing_dcol_' ~ colname)|default(false) %}

        {% if block_hcol is not same as(false) %}
            {{ block_hcol|raw }}

        {% elseif colname == '[X]' %}
            <td class="check hidden-xs"><input type="checkbox" name="checkRow"></td>

        {% elseif colname == 'id' %}
            <td class="id hidden-xs">№ {{ listing.content.id }}</td>

        {% elseif colname == 'content' %}
            <td class="excerpt {% if not listing.compact %}large{% endif %}">
                {% set title = listing.content.getTitle(true)|default("<em>(" ~ __("no title …") ~ ")</em>") %}
                <span>
                    <strong class="visible-xs">№ {{ listing.content.id }}. </strong>
                    <strong>
                        {% if modifiable %}
                            <a href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}" title="Slug: {{ listing.content.slug }}">
                                {{ title|raw }}
                            </a>
                        {% else %}
                            <strong>
                                {{ title|raw }}
                            </strong>
                         {% endif %}
                    </strong>
                    {{ listing.content.excerpt(excerptlength - title|length, false, filter|default()) }}
                </span>
            </td>

        {% elseif colname == 'thumbnail' %}
            <td class="listthumb">
                {% if listing.content.getImage is not empty %}
                    {# Hack to add alt attribute #}
                    {#{ listing.content.getImage|popup(thumbsize, thumbsize * 0.75, 'c') }#}
                    {% set thumb_height = (thumbsize * 0.75)|round %}
                    {% set thumb_small = listing.content.getImage|thumbnail(thumbsize, thumb_height, 'c') %}
                    {% set thumb_large = listing.content.getImage|thumbnail(1000, 800, 'r') %}
                    {% set thumb_title = __('Image') ~ ': ' ~ listing.content.getImage %}
                    <a href="{{ thumb_large }}" class="magnific" title="{{ thumb_title }}">
                        <img src="{{ thumb_small }}" width="{{ thumbsize }}" height="{{ thumb_height }}" alt="{{ __('Thumbnail') }}">
                    </a>
                {% endif %}
            </td>

        {% elseif colname == 'meta' %}
            <td class="username hidden-sm hidden-xs">
                <i class="fa fa-user fa-fw"></i>
                {% if listing.content.user.displayname is defined %}
                    {{ listing.content.user.displayname|trimtext(15) }}
                {% else %}
                    <s>{{ listing.content.values.ownerid|trimtext(15) }}</s>
                {% endif %}<br>
                {% if listing.content.status == 'timed' %}
                    <i class="fa fa-clock-o status-timed fa-fw"></i> {{ buic_moment(listing.content.datepublish) }}<br>
                {% else %}
                    <i class="fa fa-circle status-{{ listing.content.status }} fa-fw"></i> {{ listing.content.datepublish|localdate('%x') }}<br>
                {% endif %}
                {% if listing.content.sortorder|default() is not empty %}
                    <i class="fa fa-align-left fa-fw"></i>
                    <a href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}#taxonomy" >
                        {{ __('Order: %sort%',{'%sort%': listing.content.sortorder}) }}
                    </a>
                {% endif %}
            </td>

        {% elseif colname == 'actions' %}
            <td class="actions hidden-xs">
                <div class="btn-group">
                    {% if modifiable %}
                        <a class="btn btn-default btn-xs" href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}">
                            <i class="fa fa-edit"></i> {{ __('Edit') }}
                        </a>
                    {% endif %}
                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                        <i class="fa fa-info-sign"></i> <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu pull-right">
                        {% if listing.content.status == "published" and listing.content.link is defined %}
                            <li>
                                <a href="{{ listing.content.link }}" target="_blank">
                                    <i class="fa fa-external-link-square"></i> {{ __('View on site') }}
                                </a>
                            </li>
                        {% endif %}
                        {% if listing.content.relation %}{# i.e. we're viewing this as "related content" on the "edit record" page. #}
                            <li>
                                <a href="{{ path('relatedto', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}">
                                    <i class="fa fa-link"></i> {{ __('View related content') }}
                                </a>
                            </li>
                        {% endif %}

                        {% from _self import actionform %}
                        {% if modifiable %}
                            {% if listing.content.status != 'published' %}
                                {% if listing.permissions.publish %}
                                <li>{{ macro.actionform(listing.content, 'publish', 'fa-circle status-published', __('contenttypes.generic.publish',{'%contenttype%':listing.content.contenttype.slug})) }}</li>
                                {% endif %}
                            {% else %}
                                {% if listing.permissions.depublish %}
                                <li>{{ macro.actionform(listing.content, 'held', 'fa-circle status-held', __("Change status to 'held'")) }}</li>
                                <li>{{ macro.actionform(listing.content, 'draft', 'fa-circle status-draft', __("Change status to 'draft'")) }}</li>

                                {% endif %}
                            {% endif %}
                            {% if listing.permissions.create %}
                                <li>
                                    <a href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id, 'duplicate': 1}) }}">
                                        <i class="fa fa-copy"></i> {{ __('contenttypes.generic.duplicate', {'%contenttype%': listing.content.contenttype.slug}) }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if listing.permissions.delete %}
                                <li>
                                    {{ macro.actionform(listing.content, 'delete',
                                                      'fa-trash',
                                                      __('contenttypes.generic.delete', {'%contenttype%': listing.content.contenttype.slug}),
                                                      "Are you sure you want to delete '" ~ listing.content.getTitle ~ "'?" ) }}
                                </li>
                            {% endif %}
                            <li class="divider"></li>
                        {% endif %}
                        <li>
                            <a class="nolink">
                                {{ __('Author:') }} <strong><i class="fa fa-user"></i>
                                {% if listing.content.user.displayname is defined %}
                                    {{ listing.content.user.displayname|trimtext(15) }}
                                {% else %}
                                    <s>user {{ listing.content.values.ownerid }}</s>
                                {% endif %}</strong>
                            </a>
                        </li>
                        <li>
                            <a class="nolink">{{ __('Current status:') }}<strong>{{ listing.content.status }}</strong></a>
                        </li>
                        <li>
                            <a class="nolink">{{ __('Slug:') }}
                                <code title="{{ listing.content.slug }}">{{ listing.content.slug|trimtext(24) }}</code>
                            </a>
                        </li>
                        <li>
                            <a class="nolink">{{ __('Created on:') }}
                                <i class="fa fa-asterisk"></i> {{ listing.content.datecreated|date("Y-m-d H:i") }}
                            </a>
                        </li>
                        <li>
                            <a class="nolink">{{ __('Published on:') }}
                                <i class="fa fa-calendar"></i> {{ listing.content.datepublish|date("Y-m-d H:i") }}
                            </a>
                        </li>
                        <li>
                            <a class="nolink">{{ __('Last edited on:') }}
                                <i class="fa fa-refresh"></i> {{ listing.content.datechanged|date("Y-m-d H:i") }}
                            </a>
                        </li>
                        {% for taxonomyslug, values in listing.content.taxonomy %}
                            {% if values|length > 1 %}
                                <li>
                                    <a class="nolink">{{ config.get('taxonomy')[taxonomyslug].name }}:
                                        <i class="fa fa-tag"></i> {{ values|join(", ")|trimtext(24) }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="nolink">{{ config.get('taxonomy')[taxonomyslug].singular_name }}:
                                        <i class="fa fa-tag"></i> {{ values|first|trimtext(24) }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </td>

        {% else %}
            <td><del>{{colname }}</del></td>
        {% endif %}
    {% endfor %}
</tr>

{% if prop.last %}
    {{ tbody_end(internal.selection_toolbar|default()) }}
{% endif %}
