{# Variables available to custumn listings #}
{% set listing = {
    compact:        compact|default(false),
    content:        content,
    permissions:    permissions|default({
                        create:    permissions.create|default(false),
                        edit:      permissions.edit|default(false),
                        delete:    permissions.delete|default(false),
                        publish:   permissions.publish|default(false),
                        depublish: permissions.depublish|default(false),
                    }),
    excerptlength:  excerptlength,
    thumbsize:      thumbsize,
}%}

{% set modifiable = listing.permissions.create or
                    listing.permissions.edit or
                    listing.permissions.delete or
                    listing.permissions.publish or
                    listing.permissions.depublish %}

{# Local variables #}

{% set nextgroup    = new_group|default(false) %}
{% set unordered    = request('order') == '' %}
{% set is_first_row = loop.first %}
{% set is_last_row  = loop.last %}
{% set show_heading = not listing.compact and
                      unordered and
                      listing.content.group.name is defined and
                      (is_first_row or nextgroup) %}
{% set show_header  = not listing.compact and
                      (is_first_row or (listing.content.group.name is defined and nextgroup) and unordered) %}

{# Build columns #}

{% set columns = not listing.compact and listing.modifiable ? ['[X]'] : [] %}

{% for colum in block('listing_columns')|default('Id,Content,Thumbnail,(Meta),Actions')|lower|split(',') %}
    {% set colname = colum|trim('()') %}
    {% if not listing.compact or colum == colname %}
        {% set columns = columns|merge([colname]) %}
    {% endif %}
{% endfor %}

{# Macros #}

{% import '@bolt/_sub/_record-listing.twig' as table %}
{% import '@bolt/_sub/_record-listing-select.twig' as column_select %}
{% import '@bolt/_sub/_record-listing-id.twig' as column_id %}
{% import '@bolt/_sub/_record-listing-content.twig' as column_content %}
{% import '@bolt/_sub/_record-listing-thumbnail.twig' as column_thumbnail %}
{% import '@bolt/_sub/_record-listing-meta.twig' as column_meta %}
{% import '@bolt/_sub/_record-listing-actions.twig' as column_actions %}

{#
 # GROUPNAME: If we have 'grouping', print the row with the groupname.
 #}

{% if show_heading or internal.heading|default() %}

    {% if not is_first_row %}
        {{ table.tbody_end(internal.selection_toolbar|default()) }}
    {% endif %}

    {{ table.tbody_beg(listing, show_heading, show_header) }}

    <tr class="heading">
        <th colspan="{{ columns|length }}">
            {% if internal.heading|default() %}
                {{ internal.heading }}
            {% else %}
                {{ listing.content.group.name|default(__('(no group)')) }}
            {% endif %}
        </th>
    </tr>
{% elseif is_first_row %}
    {{ table.tbody_beg(listing, show_heading, show_header) }}
{% endif %}

{#
 # HEADER ROW: Print the header for the first row.
 #}

{% if show_header %}
    <tr class="header">
        {% for colname in columns %}
            {% set block_hcol = block('listing_hcol_' ~ colname)|default(false) %}

            {% if block_hcol is not same as(false) %}
                {{ block_hcol|raw }}

            {% elseif colname == '[X]' %}
                {{ column_select.head() }}

            {% elseif colname == 'id' %}
                {{ column_id.head() }}

            {% elseif colname == 'content' %}
                {{ column_content.head(listing, modifiable) }}

            {% elseif colname == 'thumbnail' %}
                {{ column_thumbnail.head() }}

            {% elseif colname == 'meta' %}
                {{ column_meta.head() }}

            {% elseif colname == 'actions' %}
                {{ column.head_actions(listing, modifiable) }}

            {% else %}
                <th><del>{{colname }}</del></th>
            {% endif %}
        {% endfor %}
    </tr>
{% endif %}

{#
 # DATA ROW
 #}

<tr {% if listing.content.status != 'published' %}class="dim"{% endif %}{% if not listing.compact and listing.modifiable %} id="item_{{ listing.content.id }}"{% endif %}>
    {% for colname in columns %}
        {% set block_hcol = block('listing_dcol_' ~ colname)|default(false) %}

        {% if block_hcol is not same as(false) %}
            {{ block_hcol|raw }}

        {% elseif colname == '[X]' %}
            {{ column_select.data() }}

        {% elseif colname == 'id' %}
            {{ column_id.data(listing) }}

        {% elseif colname == 'content' %}
            {{ column_content.data(listing, modifiable) }}

        {% elseif colname == 'thumbnail' %}
            {{ column_thumbnail.data(listing) }}

        {% elseif colname == 'meta' %}
            {{ column_meta.data(listing) }}

        {% elseif colname == 'actions' %}
            {{ column_actions.data(listing, modifiable) }}

        {% else %}
            <td><del>{{colname }}</del></td>
        {% endif %}
    {% endfor %}
</tr>

{% if is_last_row %}
    {{ table.tbody_end(internal.selection_toolbar|default()) }}
{% endif %}
