{#
 # Default listing column: SELECT.
 #}

{% macro head_select() %}
    <th class="menu hidden-xs">
        <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="select-all"><a href="#">{{ __('Select all') }}</a></li>
                <li class="hidden select-none"><a href="#">{{ __('Select none') }}</a></li>
                <li class="hidden divider" role="separator"></li>
                <li class="hidden dropdown-header">{{ __('Selection (#):') }}</li>
                <li class="hidden"><a href="#">• {{ __('Delete') }}</a></li>
                <li class="hidden disabled"><a href="#">• {{ __('Publish') }}</a></li>
                <li class="hidden disabled"><a href="#">• {{ __('Depublish') }}</a></li>
            </ul>
        </div>
    </th>
{% endmacro %}

{% macro data_select() %}
    <td class="check hidden-xs">
        <input type="checkbox" name="checkRow">
    </td>
{% endmacro %}

{#
 # Default listing column: ID.
 #}

{% macro head_id() %}
    {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

    <th class="hidden-xs">{{ buic_listing_slink('id', __('Id'))}}</th>
{% endmacro %}

{% macro data_id(listing) %}
    <td class="id hidden-xs">№ {{ listing.content.id }}</td>
{% endmacro %}

{#
 # Default listing column: CONTENT.
 #}

{% macro head_content(listing) %}
    {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

    <th style="width:80%">
        {{ buic_listing_slink(listing.content.TitleColumnName()|first, __('Title') ~ ' / ' ~ __('Excerpt')) }}
    </th>
{% endmacro %}

{% macro data_content(listing, modifiable) %}
    {% set title = listing.content.getTitle(true)|default("<em>(" ~ __("no title …") ~ ")</em>") %}

    <td class="excerpt {% if not listing.compact %}large{% endif %}">
        <span>
            <strong class="visible-xs">№ {{ listing.content.id }}. </strong>
            <strong>
                {% if modifiable %}
                    <a href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}" title="Slug: {{ listing.content.slug }}">
                        {{ title|raw }}
                    </a>
                {% else %}
                    <strong>
                        {{ title|raw }}
                    </strong>
                 {% endif %}
            </strong>
            {{ listing.content.excerpt(excerptlength - title|length, false, filter|default()) }}
        </span>
    </td>

{% endmacro %}

{#
 # Default listing column: THUMBNAIL.
 #}

{% macro head_thumbnail(listing) %}
    <th class="listthumb">
    </th>
{% endmacro %}

{% macro data_thumbnail(listing) %}
    <td class="listthumb">
        {% if listing.content.getImage is not empty %}
            {# Hack to add alt attribute #}
            {#{ listing.content.getImage|popup(listing.thumbsize, listing.thumbsize * 0.75, 'c') }#}
            {% set thumb_height = (listing.thumbsize * 0.75)|round %}
            {% set thumb_small = listing.content.getImage|thumbnail(listing.thumbsize, thumb_height, 'c') %}
            {% set thumb_large = listing.content.getImage|thumbnail(1000, 800, 'r') %}
            {% set thumb_title = __('Image') ~ ': ' ~ listing.content.getImage %}
            <a href="{{ thumb_large }}" class="magnific" title="{{ thumb_title }}">
                <img src="{{ thumb_small }}" width="{{ listing.thumbsize }}" height="{{ thumb_height }}" alt="{{ __('Thumbnail') }}">
            </a>
        {% endif %}
    </td>
{% endmacro %}

{#
 # Default listing column: META.
 #}

{% macro head_meta(listing) %}
    {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

    <th class="username hidden-sm hidden-xs">
        {{ buic_listing_slink('datecreated', __('Meta'))}}
    </th>
{% endmacro %}

{% macro data_meta(listing) %}
    {% from '@bolt/_buic/_moment.twig' import buic_moment %}

    <td class="username hidden-sm hidden-xs">
        <i class="fa fa-user fa-fw"></i>
        {% if listing.content.user.displayname is defined %}
            {{ listing.content.user.displayname|trimtext(15) }}
        {% else %}
            <s>{{ listing.content.values.ownerid|trimtext(15) }}</s>
        {% endif %}<br>
        {% if listing.content.status == 'timed' %}
            <i class="fa fa-clock-o status-timed fa-fw"></i> {{ buic_moment(listing.content.datepublish) }}<br>
        {% else %}
            <i class="fa fa-circle status-{{ listing.content.status }} fa-fw"></i> {{ listing.content.datepublish|localdate('%x') }}<br>
        {% endif %}
        {% if listing.content.sortorder|default() is not empty %}
            <i class="fa fa-align-left fa-fw"></i>
            <a href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}#taxonomy" >
                {{ __('Order: %sort%',{'%sort%': listing.content.sortorder}) }}
            </a>
        {% endif %}
    </td>
{% endmacro %}

{#
 # Default listing column: ACTIONS.
 #}

{% macro head_actions() %}
    <th>
        {{ __('Actions') }}
    </th>
{% endmacro %}

{% macro data_actions(listing, modifiable) %}
    {% import '@bolt/_macro/_macro.twig' as macro %}

    <td class="actions hidden-xs">
        <div class="btn-group">
            {% if modifiable %}
                <a class="btn btn-default btn-xs" href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}">
                    <i class="fa fa-edit"></i> {{ __('Edit') }}
                </a>
            {% endif %}
            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                <i class="fa fa-info-sign"></i> <span class="caret"></span>
            </button>

            <ul class="dropdown-menu pull-right">
                {% if listing.content.status == "published" and listing.content.link is defined %}
                    <li>
                        <a href="{{ listing.content.link }}" target="_blank">
                            <i class="fa fa-external-link-square"></i> {{ __('View on site') }}
                        </a>
                    </li>
                {% endif %}
                {% if listing.content.relation %}{# i.e. we're viewing this as "related content" on the "edit record" page. #}
                    <li>
                        <a href="{{ path('relatedto', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}">
                            <i class="fa fa-link"></i> {{ __('View related content') }}
                        </a>
                    </li>
                {% endif %}

                {% from _self import actionform %}
                {% if modifiable %}
                    {% if listing.content.status != 'published' %}
                        {% if listing.permissions.publish %}
                        <li>{{ macro.actionform(listing.content, 'publish', 'fa-circle status-published', __('contenttypes.generic.publish',{'%contenttype%':listing.content.contenttype.slug})) }}</li>
                        {% endif %}
                    {% else %}
                        {% if listing.permissions.depublish %}
                        <li>{{ macro.actionform(listing.content, 'held', 'fa-circle status-held', __("Change status to 'held'")) }}</li>
                        <li>{{ macro.actionform(listing.content, 'draft', 'fa-circle status-draft', __("Change status to 'draft'")) }}</li>

                        {% endif %}
                    {% endif %}
                    {% if listing.permissions.create %}
                        <li>
                            <a href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id, 'duplicate': 1}) }}">
                                <i class="fa fa-copy"></i> {{ __('contenttypes.generic.duplicate', {'%contenttype%': listing.content.contenttype.slug}) }}
                            </a>
                        </li>
                    {% endif %}
                    {% if listing.permissions.delete %}
                        <li>
                            {{ macro.actionform(listing.content, 'delete',
                                              'fa-trash',
                                              __('contenttypes.generic.delete', {'%contenttype%': listing.content.contenttype.slug}),
                                              "Are you sure you want to delete '" ~ listing.content.getTitle ~ "'?" ) }}
                        </li>
                    {% endif %}
                    <li class="divider"></li>
                {% endif %}
                <li>
                    <a class="nolink">
                        {{ __('Author:') }} <strong><i class="fa fa-user"></i>
                        {% if listing.content.user.displayname is defined %}
                            {{ listing.content.user.displayname|trimtext(15) }}
                        {% else %}
                            <s>user {{ listing.content.values.ownerid }}</s>
                        {% endif %}</strong>
                    </a>
                </li>
                <li>
                    <a class="nolink">{{ __('Current status:') }}<strong>{{ listing.content.status }}</strong></a>
                </li>
                <li>
                    <a class="nolink">{{ __('Slug:') }}
                        <code title="{{ listing.content.slug }}">{{ listing.content.slug|trimtext(24) }}</code>
                    </a>
                </li>
                <li>
                    <a class="nolink">{{ __('Created on:') }}
                        <i class="fa fa-asterisk"></i> {{ listing.content.datecreated|date("Y-m-d H:i") }}
                    </a>
                </li>
                <li>
                    <a class="nolink">{{ __('Published on:') }}
                        <i class="fa fa-calendar"></i> {{ listing.content.datepublish|date("Y-m-d H:i") }}
                    </a>
                </li>
                <li>
                    <a class="nolink">{{ __('Last edited on:') }}
                        <i class="fa fa-refresh"></i> {{ listing.content.datechanged|date("Y-m-d H:i") }}
                    </a>
                </li>
                {% for taxonomyslug, values in listing.content.taxonomy %}
                    {% if values|length > 1 %}
                        <li>
                            <a class="nolink">{{ config.get('taxonomy')[taxonomyslug].name }}:
                                <i class="fa fa-tag"></i> {{ values|join(", ")|trimtext(24) }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="nolink">{{ config.get('taxonomy')[taxonomyslug].singular_name }}:
                                <i class="fa fa-tag"></i> {{ values|first|trimtext(24) }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </td>
{% endmacro %}
