{#
 # Default listing column: SELECT.
 #}

{% macro head_select() %}
    <th class="menu hidden-xs">
        <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="select-all"><a href="#">{{ __('Select all') }}</a></li>
                <li class="hidden select-none"><a href="#">{{ __('Select none') }}</a></li>
                <li class="hidden divider" role="separator"></li>
                <li class="hidden dropdown-header">{{ __('Selection (#):') }}</li>
                <li class="hidden"><a href="#">• {{ __('Delete') }}</a></li>
                <li class="hidden disabled"><a href="#">• {{ __('Publish') }}</a></li>
                <li class="hidden disabled"><a href="#">• {{ __('Depublish') }}</a></li>
            </ul>
        </div>
    </th>
{% endmacro %}

{% macro data_select() %}
    <td class="check hidden-xs">
        <input type="checkbox" name="checkRow">
    </td>
{% endmacro %}

{#
 # Default listing column: ID.
 #}

{% macro head_id() %}
    {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

    <th class="hidden-xs">{{ buic_listing_slink('id', __('Id'))}}</th>
{% endmacro %}

{% macro data_id(listing) %}
    <td class="id hidden-xs">№ {{ listing.content.id }}</td>
{% endmacro %}

{#
 # Default listing column: CONTENT.
 #}

{% macro head_content(listing) %}
    {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

    <th style="width:80%">
        {{ buic_listing_slink(listing.content.TitleColumnName()|first, __('Title') ~ ' / ' ~ __('Excerpt')) }}
    </th>
{% endmacro %}

{% macro data_content(listing, modifiable) %}
    {% set title = listing.content.getTitle(true)|default("<em>(" ~ __("no title …") ~ ")</em>") %}

    <td class="excerpt {% if not listing.compact %}large{% endif %}">
        <span>
            <strong class="visible-xs">№ {{ listing.content.id }}. </strong>
            <strong>
                {% if modifiable %}
                    <a href="{{ path('editcontent', {'contenttypeslug': listing.content.contenttype.slug, 'id': listing.content.id}) }}" title="Slug: {{ listing.content.slug }}">
                        {{ title|raw }}
                    </a>
                {% else %}
                    <strong>
                        {{ title|raw }}
                    </strong>
                 {% endif %}
            </strong>
            {{ listing.content.excerpt(excerptlength - title|length, false, filter|default()) }}
        </span>
    </td>

{% endmacro %}

{#
 # Default listing column: THUMBNAIL.
 #}

{% macro head_thumbnail(listing) %}
    <th class="listthumb">
    </th>
{% endmacro %}

{% macro data_thumbnail(listing) %}
    <td class="listthumb">
        {% if listing.content.getImage is not empty %}
            {# Hack to add alt attribute #}
            {#{ listing.content.getImage|popup(listing.thumbsize, listing.thumbsize * 0.75, 'c') }#}
            {% set thumb_height = (listing.thumbsize * 0.75)|round %}
            {% set thumb_small = listing.content.getImage|thumbnail(listing.thumbsize, thumb_height, 'c') %}
            {% set thumb_large = listing.content.getImage|thumbnail(1000, 800, 'r') %}
            {% set thumb_title = __('Image') ~ ': ' ~ listing.content.getImage %}
            <a href="{{ thumb_large }}" class="magnific" title="{{ thumb_title }}">
                <img src="{{ thumb_small }}" width="{{ listing.thumbsize }}" height="{{ thumb_height }}" alt="{{ __('Thumbnail') }}">
            </a>
        {% endif %}
    </td>
{% endmacro %}
